<h1 mat-dialog-title>Alterar Senha</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Ex. Pedro" type="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha Atual</mat-label>
            <input formControlName="currentPassword" matInput placeholder="******" type="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nova Senha</mat-label>
            <input formControlName="newPassword" matInput placeholder="******" type="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar Senha</mat-label>
            <input formControlName="confirmPassword" matInput placeholder="******" type="password">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="onSave()">Salvar</button>
</div>