.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 10px 10px 0;
  text-align: justify;
}

.primary-header {
  padding-left: 20px;
  background-color:#e91e63;
}

.primary-header h1 {
	margin: 0;
	padding: 15px 8px;
	font-size: 20px;
	color: #fff
}
