<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../category/list'>Categorias</a>
        <mat-icon color="primary">ballot</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../product/list'>Produtos</a>
        <mat-icon color="primary">shopping_cart</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../provider/list'>Fornecedores</a>
        <mat-icon color="primary">supervised_user_circle</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../shop/list'>Lojas</a>
        <mat-icon color="primary">home_work</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../work-center/list'>Caixas</a>
        <mat-icon color="primary">point_of_sale</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../user/list'>Usuários</a>
        <mat-icon color="primary">face</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../stock/list'>Estoque</a>
        <mat-icon color="primary">explicit</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../sale/process'>Vendas</a>
        <mat-icon color="primary">monetization_on</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser">
        <a matLine routerLink='../dashboard/index'>Dashboards</a>
        <mat-icon color="primary">assessment</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink='../about'>Sobre</a>
        <mat-icon color="primary">help</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [class.mat-elevation-z6]="true">
      <button *ngIf="isHandset$ | async" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a id="btn-current-user" mat-button [routerLink]="!currentUser ? '../user/login' : '../index'">
        <img src="../../assets/images/logo.svg" height="36px" />&nbsp;
        <span *ngIf="currentUser">Olá, {{ fullUserName }}</span>
        <span *ngIf="!currentUser">Moda Sem Frescura</span>
      </a>
      <div>
        <mat-progress-spinner *ngIf="showLoad$ | async" mode="indeterminate" color="accent" diameter="40"
          strokeWidth="6"></mat-progress-spinner>
      </div>
      <div id="right-btn" *ngIf="currentUser">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do Usuário">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Alterar Senha</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="primary-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>