<mat-card class="example-card">
    <mat-card-content>
        <div class="percent100">
            <form [formGroup]="saleProcessForm">
                <mat-form-field class="percent100" appearance="outline">
                    <mat-label>Loja</mat-label>
                    <mat-select formControlName="shopId" (selectionChange)="getWorkCenters($event)">
                        <mat-option *ngFor="let shop of shops | async" [value]="shop.id">
                            {{shop.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field id="select-work-center" class="percent100" appearance="outline">
                    <mat-label>Caixa</mat-label>
                    <mat-select formControlName="workCenterId" (selectionChange)="showWorkCenterStatus($event)">
                        <mat-option *ngFor="let workCenter of workCenters | async" [value]="workCenter">
                            {{workCenter.code}} - {{workCenter.description}} > {{workCenter.status}} em {{workCenter.date | date: 'dd/MM/yyyy HH:mm:ss'}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" [disabled]="workCenterControl || !saleProcessForm.valid"
            (click)="startWorkCenter()">ABRIR CAIXA</button>
        <button mat-button color="warn" [disabled]="!workCenterControl || !saleProcessForm.valid"
            (click)="closeWorkCenter()">FECHAR CAIXA</button>
    </mat-card-actions>
</mat-card>

<mat-vertical-stepper [linear]="isLinear" #stepper *ngIf="workCenterControl">
    <mat-step>
        <ng-template matStepLabel>PRODUTOS</ng-template>
        <app-sale-process-product [workCenterControl]="workCenterControl"></app-sale-process-product>
        <div>
            <button mat-button matStepperNext>PRÓXIMO</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>PAGAMENTO</ng-template>
        <app-sale-process-payment [workCenterControl]="workCenterControl" [stepper]="stepper"></app-sale-process-payment>
    </mat-step>
</mat-vertical-stepper>