<button mat-fab color="primary" aria-label="Novo Produto" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>
<button id="btn-export" mat-fab color="warn" matTooltip="Exportar para Excel" aria-label="Exportar para Excel" (click)="exporter.exportTable('xls', { fileName:'Produtos', Props: { Author: 'MSF' }})">
    <mat-icon>move_to_inbox</mat-icon>
</button>

<mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput placeholder="Ex. Camisa XPTO" #input>
</mat-form-field>

<div class="mat-elevation-z4">

    <table mat-table matTableExporter hiddenColumns="[3]" [dataSource]="products" #exporter="matTableExporter">

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Profit Column -->
        <ng-container matColumnDef="profit">
            <th mat-header-cell *matHeaderCellDef> % de Lucro </th>
            <td mat-cell *matCellDef="let element"> {{ element.profit | number:'1.2-2' | numberFormat }} </td>
        </ng-container>

        <ng-container matColumnDef="subcategory">
            <th mat-header-cell *matHeaderCellDef> Subcategoria </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip selected color="primary"> {{ element.subcategoryName }}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Editar Categoria" (click)="openDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Excluir Categoria" (click)="confirmDialog(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons [pageSize]="pageSize">
    </mat-paginator>
</div>