<button mat-fab color="primary" aria-label="Nova Loja" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput placeholder="Ex. Moda Sem Frescura" #input>
</mat-form-field>

<div class="mat-elevation-z4">

    <table mat-table [dataSource]="shops">

        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Editar Loja" (click)="openDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Excluir Loja" (click)="confirmDialog(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons [pageSize]="pageSize">
    </mat-paginator>
</div>