@import '~@angular/material/theming';

@include mat-core();
 
$msf-primary: mat-palette($mat-pink);
$msf-accent: mat-palette($mat-pink, 100, 500, A100);
$msf-warn: mat-palette($mat-red);

$msf-theme: mat-light-theme($msf-primary, $msf-accent, $msf-warn);

@include angular-material-theme($msf-theme);